# After each file is resampled, concat all files together

The concat files are resampled for 5 minutes, and 15 minutes resolution. (The original is too big.)

In [ ]:
import os
import pandas as pd

In [2]:
month_list = ['January2024','February2024']

df_5min_concat = pd.DataFrame()
df_15min_concat = pd.DataFrame()

for month in month_list:
    folder_path_5min = f"/Users/nattapongkongkaew/Desktop/preprocessed_data/data_pv_5minresample/{month}/"
    folder_path_15min = f"/Users/nattapongkongkaew/Desktop/preprocessed_data/data_pv_15minresample/{month}/"

    for file in os.listdir(folder_path_5min):
        if file.endswith(".csv"):
            file_path_5min = folder_path_5min + file
            df_5min = pd.read_csv(file_path_5min)
            df_5min_concat = pd.concat([df_5min_concat, df_5min])
            
    for file in os.listdir(folder_path_15min):
        if file.endswith(".csv"):
            file_path_15min = folder_path_15min + file
            df_15min = pd.read_csv(file_path_15min)
            df_15min_concat = pd.concat([df_15min_concat, df_15min])

In [3]:
df_5min_concat = df_5min_concat.sort_values(by='datetime')
df_5min_concat = df_5min_concat.reset_index(drop=True) # reset index
df_5min_concat

,datetime,Ia (A),Ib (A),Ic (A),Pa (kW),Pb (kW),Pc (kW),Ptot (kW),VAa (kVA),VAb (kVA),VAc (kVA),VAtot (kVA)
0,2023-03-09 00:00:00,0.32,0.31,0.32,0.04119,0.0,0.05368,0.02756,0.0,0.0,0.0,0.0
1,2023-03-09 00:05:00,0.32,0.31,0.32,0.04119,0.0,0.05368,0.02756,0.0,0.0,0.0,0.0
2,2023-03-09 00:10:00,0.32,0.31,0.32,0.04119,0.0,0.05368,0.02756,0.0,0.0,0.0,0.0
3,2023-03-09 00:15:00,0.32,0.31,0.32,0.04119,0.0,0.05368,0.02756,0.0,0.0,0.0,0.0
4,2023-03-09 00:20:00,0.32,0.31,0.32,0.04119,0.0,0.05368,0.02756,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
101371,2024-02-29 23:35:00,0.41,0.44,0.43,0.04339,0.0,0.11542,0.06585,0.0,0.0,0.0,0.0
101372,2024-02-29 23:40:00,0.41,0.44,0.43,0.04339,0.0,0.11542,0.06585,0.0,0.0,0.0,0.0
101373,2024-02-29 23:45:00,0.41,0.44,0.43,0.04339,0.0,0.11542,0.06585,0.0,0.0,0.0,0.0
101374,2024-02-29 23:50:00,0.41,0.44,0.43,0.04339,0.0,0.11542,0.06585,0.0,0.0,0.0,0.0
101375,2024-02-29 23:55:00,0.41,0.44,0.43,0.04339,0.0,0.11542,0.06585,0.0,0.0,0.0,0.0

In [5]:
# Check the row count
len(df_5min_concat['datetime'].unique())

101376

In [6]:
# Save file. (Here just save the concat file to the Desktop.)
df_5min_concat.to_csv("/Users/nattapongkongkaew/Desktop/pv_data_5minresample_concat.csv", index=False)

In [7]:
df_15min_concat = df_15min_concat.sort_values(by='datetime')
df_15min_concat = df_15min_concat.reset_index(drop=True) # reset index
df_15min_concat

,datetime,Ia (A),Ib (A),Ic (A),Pa (kW),Pb (kW),Pc (kW),Ptot (kW),VAa (kVA),VAb (kVA),VAc (kVA),VAtot (kVA)
0,2023-03-09 00:00:00,0.32,0.31,0.32,0.04119,0.0,0.05368,0.02756,0.0,0.0,0.0,0.0
1,2023-03-09 00:15:00,0.32,0.31,0.32,0.04119,0.0,0.05368,0.02756,0.0,0.0,0.0,0.0
2,2023-03-09 00:30:00,0.32,0.31,0.32,0.04119,0.0,0.05368,0.02756,0.0,0.0,0.0,0.0
3,2023-03-09 00:45:00,0.32,0.31,0.32,0.04119,0.0,0.05368,0.02756,0.0,0.0,0.0,0.0
4,2023-03-09 01:00:00,0.32,0.31,0.32,0.04119,0.0,0.05368,0.02756,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
33787,2024-02-29 22:45:00,0.41,0.44,0.43,0.04339,0.0,0.11542,0.06585,0.0,0.0,0.0,0.0
33788,2024-02-29 23:00:00,0.41,0.44,0.43,0.04339,0.0,0.11542,0.06585,0.0,0.0,0.0,0.0
33789,2024-02-29 23:15:00,0.41,0.44,0.43,0.04339,0.0,0.11542,0.06585,0.0,0.0,0.0,0.0
33790,2024-02-29 23:30:00,0.41,0.44,0.43,0.04339,0.0,0.11542,0.06585,0.0,0.0,0.0,0.0
33791,2024-02-29 23:45:00,0.41,0.44,0.43,0.04339,0.0,0.11542,0.06585,0.0,0.0,0.0,0.0

In [8]:
# Check the row count
len(df_15min_concat['datetime'].unique())

33792

In [9]:
# Save file. (Here just save the concat file to the Desktop.)
df_15min_concat.to_csv("/Users/nattapongkongkaew/Desktop/pv_data_15minresample_concat.csv", index=False)